uploaded_receipts*
.git
__pycache__
.pytest_cache
profile
.venv
debug_artifacts
*.log
*.zip
.pb_profile
.generated
.mypy_cache
.ruff_cache
venv
env
build
dist
coverage
*.pyc
*.pyo
session_*.log
pb_test*.log
task_*.show
task_show_*
*.task.show
.pb_profile_local_debug
.pb_profile_local_debug_pools

.pb_profile_docker
.pb_profile*
.pb_profile_*
debug_artifacts/
