# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
.venv/
.env/

# Distribution / packaging
dist/
*.egg-info/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MyPy
.mypy_cache/

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover

# Sphinx documentation
docs/_build/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Docker
*.log
*.logs
*.env.*


# SQLite
*.sqlite
*.sqlite3

# Logs
*.log

# Secrets and credentials
*.key
*.pem
*.env

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
Desktop.ini

# my changes
frontend/node_modules/
artifacts/

#
.dev


#log debug files
log.*

# transfer/
transfer*/

# test prod ssh keys
.test/
.prod/

frontend/test-results/
todo_dir/
out/

#zip versions
chatgpt_claudecode_workflow*.zip

#browser profile
.pb_profile/
profile/

#debug info
debug_artifacts/

# chatgpt projects
promptbranch-project-list.json


# temp ignore 
chatgpt_claudecode_workflow_v0.0.146/
ollama_mcp_verification_harness.zip
ollama_mcp_verification_harness/
ollama_mcp_verification_harness_v2.zip
ollama_mcp_verification_harness_v2/

