alembic
annotated-types
anyio
bcrypt==4.3.0
certifi
cffi
charset-normalizer
click
cryptography
distlib
ecdsa
exceptiongroup
fastapi==0.128.2
filelock
greenlet
h11
httpcore
httpx
idna
iniconfig
Mako
MarkupSafe
numpy
opencv-python-headless
packaging
passlib==1.7.4
patchright==1.58.2
pillow
platformdirs
playwright==1.52.0
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
pyee
Pygments
pyotp
pytesseract
pytest
pytest-asyncio
python-dotenv
python-jose
python-multipart
requests
rsa
six
sniffio
SQLAlchemy
starlette==0.50.0
tomli
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
virtualenv
